<div
  local-class="canvas"
  data-test-background-canvas
  {{drag this.backgroundDrag}}
>
  {{#if this.isDrawingBox}}
    <div
      local-class="selection-box"
      data-test-background-selection
      {{styles this.boxStyles}}
    ></div>
  {{/if}}
</div>
