:root {
  --neutral-100: #FFFFFF;
  --neutral-200: #FAFAFA;
  --neutral-300: #F1F1F2;
  --neutral-400: #E8E8EA;
  --neutral-500: #C5C5CA;
  --neutral-600: #767680;
  --neutral-700: #45454B;
  --neutral-800: #1c1c1c;
  --neutral-900: #000000;
  --blue-100: #F2F7FF;
  --blue-200: #D2E1FA;
  --blue-300: #94B8F6;
  --blue-400: #266FED;
  --blue-500: #0D43A0;
  --blue-600: #072251;
  --blue-700: #030E22;
  --violet-100: #F4F0FD;
  --violet-200: #DDD2FA;
  --violet-300: #B69CFF;
  --violet-400: #7549EA;
  --violet-500: #4B1EC7;
  --violet-600: #2C0E7B;
  --violet-700: #16073E;
  --aqua-100: #E4FBFF;
  --aqua-200: #A0F1FF;
  --aqua-300: #4BE4FF;
  --aqua-400: #00C2E4;
  --aqua-500: #0088A0;
  --aqua-600: #004E5C;
  --aqua-700: #002329;
  --green-100: #F0F5F1;
  --green-200: #C8E6D0;
  --green-300: #83D79B;
  --green-400: #3CB860;
  --green-500: #2B8545;
  --green-600: #1B522B;
  --green-700: #0E2B16;
  --yellow-100: #FAF2D9;
  --yellow-200: #FFECAE;
  --yellow-300: #FFDB6A;
  --yellow-400: #FFCB26;
  --yellow-500: #F2B800;
  --yellow-600: #9D7700;
  --yellow-700: #372A00;
  --orange-100: #FFF2DD;
  --orange-200: #FFD088;
  --orange-300: #FFAF33;
  --orange-400: #FF9B00;
  --orange-500: #CC7C00;
  --orange-600: #885300;
  --orange-700: #452A00;
  --red-100: #FFEBE9;
  --red-200: #FECCC8;
  --red-300: #FD8F85;
  --red-400: #FC5142;
  --red-500: #E51604;
  --red-600: #810C02;
  --red-700: #4F0801;
}
